extends layout

block content
  h1 #{title}: #{book.title}
  p= book.author.name
  
  
  
    p #[strong Delete the following book Instances before attempting to delete this book.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Books
      each val in book_instances
        hr
        if val.status=='Available'
            p.text-success #{val.status}
        else if val.status=='Maintenance'
            p.text-danger #{val.status}
        else
            p.text-warning #{val.status} 
        p #[strong Imprint:] #{val.imprint}
        if val.status!='Available'
            p #[strong Due back:] #{val.due_back_formatted}
        p #[strong Id:]&nbsp;
            a(href=val.url) #{val._id}

    p Do you really want to delete this Author?
    
    //- form(method='POST' action='')
    //-   div.form-group
    //-     input#authorid.form-control(type='hidden',name='authorid', required='true', value=author._id )

    //-   button.btn.btn-primary(type='submit') Delete